:root {
    --gray-900: #1a1a1a;
    --gray-500: #424242;
    --gray-200: #656363;
    --gr-900: #0a4a00;
    --gr-300: #04ba3180;
    --gr-100: #defff5;
    --red-900: #8b0606;
    --red-300: #d93131;
    --white: #fff;
    --text: #a09f9f;
    --black: #000;
    --pause: #ff7500;
    --b1: #b1b1b1;
    --crossed: #5d5959;
    --repeater: #08f9ff4d;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a1a1a;
    color: var(--text);
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--gray-900);
}

::-webkit-scrollbar-thumb {
    background: var(--gray-500);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-500);
}

:focus-visible {
    outline: 1px solid var(--red-300);
}

.svg-white-to-black {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray-900);
    overflow-y: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
.head-container {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 0px 100px 0px 60px;
    border-bottom: 1px solid var(--gray-500);
    /* filter: drop-shadow(0 5px 15px var(--red-900)); */
}

.img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.img img {
    height: 100%;
    width: 100%;
}
.choose-section {
    height: 100%;
    flex-direction: row;
}

.choose-section nav {
    position: relative;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 5px 10px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--text);
    font-size: 1em;
    font-weight: 400;
}
.name span {
    color: var(--pause);
    text-transform: uppercase;
    letter-spacing: 0.25ch;
}

/* main-page */
.main-page {
    flex-direction: row;
    width: 100%;
    background: var(--gray-900);
}

.clock-section {
    height: 100%;
    width: 70%;
    margin: 20px 0;
    overflow-y: scroll;
}

#marker {
    position: absolute;
    color: var(--white);
    border: 1px solid var(--gr-900);
    border-bottom: 3px solid var(--gr-900);
    border-radius: 10px;
    background: transparent;
    transition: 0.5s;
    pointer-events: none;
    /* visibility: hidden; */
}

/* times */
.time-dialogue {
    position: relative;
    height: 530px;
    margin: auto;
}

/* checklist-section */
.checklist-block {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.checklist-box {
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.list-check ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-check ul li {
    border-bottom: 1px solid #ddd;
}

.list-check ul li:last-child {
    border-bottom: none; /* Remove border from last item */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.list-check ul li:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    cursor: pointer; /* Make list items clickable */
}

.list-check ul li input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    accent-color: var(--gr-900);
    border: 1px solid var(--gr-100);
    border-radius: 4px;
}

.list-check ul li label {
    flex-grow: 1; /* Allow label to take up available space */
    font-size: 1rem;
    color: var(--text);
}
.day-streak {
    width: calc(100% - 60px);
    padding: 10px;
    margin-top: 10px;
}
.streak-info {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: end;
   align-items: center;
  }
.streak-info span {
    padding: 0 10px 0 05px ;
    font-size: 1.2rem;
    font-weight: 600;
}
.day-streak-svg {
    width: 100%;
}
.month-label {
    fill: var(--text);
    font-size: 0.9rem;
    text-anchor: middle;
}

.day {
    fill: #2f2f2f;
    stroke: #1c1c1c;
}

.completed {
    fill: var(--gr-900);
}

/* timer-section */
.timer-block {
    position: absolute;
    flex-direction: column;
    visibility: hidden;
}

.timer-countdown-box {
    position: relative;
    height: 400px;
    width: 400px;
}

.controller-btn {
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}

.controller-btn button {
    padding: 15px 80px 13px;
    border-radius: 20px;
    cursor: pointer;
}

.controller-btn button:nth-child(1) {
    border: 2px solid var(--red-900);
    background-color: var(--red-900);
    display: none;
}

.controller-btn button:nth-child(2) {
    border: 2px solid var(--gr-900);
    background-color: var(--gr-900);
}

.controller-btn button:nth-child(3) {
    border: 2px solid var(--pause);
    background-color: var(--pause);
    display: none;

}

.controller-btn button:nth-child(1):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(2):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(3):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(1):hover svg {
    fill: var(--white);
}

.controller-btn button:nth-child(2):hover svg {
    fill: var(--white);
}

.controller-btn button:nth-child(3):hover svg {
    fill: var(--white);
}



.timer-countdown {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--red-900);
    overflow: hidden;
    z-index: 1;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1) {
    background-color: var(--pause);
    z-index: 2;
    display: none;
}

.semicircle:nth-child(2) {
    background-color: var(--pause);
    z-index: 3;
    display: none;
}

.semicircle:nth-child(3) {
    background-color: var(--red-900);
    z-index: 4;
    display: none;
}

.outermost-circle {
    width: 390px;
    height: 390px;
    background-color: var(--gray-900);
    border-radius: 50%;
    z-index: 5;
    /* display: none; */
}

/* .timer-countdown:hover .semicircle:nth-child(1) {
    transform: rotate(180deg);
    transition: 1s linear;
}
.timer-countdown:hover .semicircle:nth-child(2) {
    transform: rotate(360deg);
    transition: 2s linear;
}
.timer-countdown:hover .semicircle:nth-child(3) {
    opacity: 0;
    transition: opacity 0s 1s;
} */

.time-stamp {
    position: absolute;
    width: 200px;
    height: 140px;
    z-index: 6;
    flex-direction: column;
}

.time-stamp.disable {
    opacity: 0.9;
    pointer-events: none;
}

.tik-tok {
    width: 250px;
    height: 100px;
    margin-top: 30px;
    z-index: 7;
    flex-direction: row;
}

.tik-tok select,
.timer-repeater select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border: 1px solid var(--pause);
    border-radius: 8px;
    color: var(--text);
    background-color: var(--gray-900);
    font-size: 80px;
    cursor: pointer;
}

.tik-tok select option {
    font-size: 24px;
}

.tik-tok span {
    text-align: center;
    font-size: 4em;
    font-family: poppins;
}

.timer-repeater {
    margin-top: 20px;
}

.timer-repeater select {
    font-size: 2em;
    padding: 0 5px;
    border: 1px solid var(--red-300);
    border-radius: 8px;
}

.timer-repeater span {
    font-size: 2em;
}


/* stopwatch-section */
.stopwatch-block {
    flex-direction: column;
    position: absolute;
    visibility: hidden;
}

.stopwatch-countdown-box {
    position: relative;
    height: 400px;
    width: 400px;
}

.stopwatch-countdown {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: var(--gr-900);
    color: var(--text);
    overflow: hidden;
    z-index: 1;
}

.inner-circle {
    width: 390px;
    height: 390px;
    background-color: var(--gray-900);
    border-radius: 50%;
    z-index: 5;
}

#stopwatch-tiktok {
    width: 300px;
}

#stopwatch-tiktok p {
    display: block;
    margin: auto;
    font-size: 4em;
    font-family: 'Segoe UI';
}

#stopwatch-tiktok p span {
    color: var(--gr-900);
    font-size: 40px;
}

/* .task-section */
.task-section {
    position: relative;
    height: 100%;
    width: 30%;
    padding: 20px;
    border-left: 2px solid var(--gray-500);
    background-color: var(--gray-900);
}

.to-do-app {
    width: 100%;
    margin-bottom: 10px;
}

.to-do-app p {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
}

.box-shadow-bottom {
    padding-bottom: 12px;
}

.task-dialog {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 10px;
    border: solid 2px var(--gray-500);
    
}
.input-task-area {
    margin-left: 15px;
}
.input-task-area input {
    border: none;
    outline: none;
    background-color: transparent;
}

.input-task-area input:nth-child(1) {
    padding: 6px 8px 0 0;
    font-size: 1.4em;
    width: 100%;
}

.input-task-area input:nth-child(2) {
    padding: 6px 8px 8px 0;
}

#due-task-date::-webkit-calendar-picker-indicator {
    color: #fff;
}

.task-dialog button {
    padding: 4px 24px;
    margin: 8px 8px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: var(--gr-900);
    border: 2px solid var(--gr-300);
    cursor: pointer;
}

.task-dialog button:hover {
    background-color: transparent;
    color: var(--gr-900);
    transition: 0.2s;
}

.space-between {
    justify-content: space-between;
}

.margin-right-10 {
    margin: 0 10px 0 0;
}

.task-lister {
    overflow-y: auto;
    height: calc(100% - 150px);
    padding-top: 8px;
    scroll-behavior: auto;
}

.task-lister div h4 {
    color: var(--text);
}

.task-lister div ul {
    margin: 6px 0;
}

.task-lister div ul li {
    list-style: none;
    font-size: 1em;
    padding: 14px;
    user-select: none;
    margin: 6px 0 0 0;
    border: 1px solid var(--gray-500);
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.task-lister div ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(./img/unchecked_circle.svg);
    left: 12px;
    top: calc(50% - 12px);
}

#other-task-list li:hover::before {
    /* display: none; */
}

.task-lister div ul li:hover::before {
    background-image: url(./img/check_circle.svg);
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(91deg) brightness(56%) contrast(102%);

}

.task-lister div ul li.task-done {
    color: var(--crossed);
    text-decoration: line-through;
    border: 1px solid var(--gr-300);
    background-color: var(--gr-100);
}

.task-lister div ul li.task-done::before {
    background-image: url(./img/task_alt_black_24dp.svg);
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(91deg) brightness(56%) contrast(102%);

}

.task-lister div ul li p {
    position: absolute;
    right: 40px;
    bottom: 2px;
    font-size: .7em;
}

.task-lister div ul li div {
    position: absolute;
    right: 4px;
    padding: 2px 4px;
    margin: 4px;
    background-color: transparent;
    top: calc(50% - 18px);
    opacity: 0;
}

.task-lister div ul li div img {
    border-radius: 4px;
    padding: 2px;
    margin: 0 4px;
}

.task-lister div ul li div img:nth-child(1) {
    background-color: var(--pause);

}

.task-lister div ul li div img:nth-child(2) {
    background-color: var(--gr-900);

}

.task-lister div ul li:hover div {
    opacity: 100;
    transition: 0.5s;
}

#daily-task-list li:hover div img:nth-child(2) {
    display: none;
}



/* footer start */
.footer {
    padding: 14px;
    border-top: 1px solid var(--gray-500);
}

.footer p {
    /* filter: drop-shadow(0 12px 15px #a70101); */
    color: var(--bg-100);
}



 

