* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

:root {
    --bg-900: rgba(37, 99, 235);
    --bg-300: rgb(37, 99, 235, 0.3);
    --bg-100: rgb(243, 249, 255);
    --gr-900: rgb(4, 186, 49);
    --gr-500: rgb(165, 250, 151);
    --gr-300: rgba(4, 186, 49, 0.5);
    --gr-100: rgb(222, 255, 245);
    --red-900: rgb(250, 4, 4);
    --red-300: rgb(251, 95, 95);
    --white: #fff;
    --black: #000;
    --pause: #ff7500;
    --b1: #b1b1b1;
    --crossed: #5d5959;
    --repeater: #08f9ff4d;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:focus-visible {
    outline: 1px solid var(--red-300);
}

.svg-white-to-black {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    overflow-y: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
.head-container {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 0px 100px 0px 60px;
    border-bottom: 1px solid var(--bg-900);
    filter: drop-shadow(0 5px 15px var(--red-900));
}

.img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.img img {
    height: 100%;
    width: 100%;
}

.name span {
    color: var(--b1);
}

/* main-page */
.main-page {
    flex-direction: row;
    width: 100%;
    background: var(--white);
}

.clock-section {
    height: 100%;
    width: 70%;
    margin: 20px;
    overflow-y: scroll;
}

.choose-section {
    height: 80px;
    margin: 15px auto;
    flex-direction: row;
}

.choose-section nav {
    position: relative;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 15px 25px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    padding: 15px 25px;
    color: var(--bg-900);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#marker {
    position: absolute;
    bottom: 0;
    left: 25px;
    height: 100%;
    width: 126px;
    border: 1px solid var(--gr-900);
    border-bottom: 5px solid var(--gr-900);
    border-radius: 10px;
    /* background: linear-gradient(0deg, var(--gr-100), transparent); */
    transition: 0.5s;
    pointer-events: none;
    /* filter: drop-shadow(0 5px 25px var(--gr-900)); */
}

/* times */
.time-dialogue {
    position: relative;
    height: 530px;
    margin: auto;
}

/* timer-section */
.timer-block {
    position: absolute;
    flex-direction: column;
}

.timer-countdown-box {
    position: relative;
    height: 400px;
    width: 400px;
}

.controller-btn {
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}

.controller-btn button {
    padding: 15px 80px 13px;
    border-radius: 20px;
    cursor: pointer;
}

.controller-btn button:nth-child(1) {
    border: 2px solid var(--bg-900);
    background-color: var(--bg-900);
    display: none;
}

.controller-btn button:nth-child(2) {
    border: 2px solid var(--gr-900);
    background-color: var(--gr-900);
}

.controller-btn button:nth-child(3) {
    border: 2px solid var(--pause);
    background-color: var(--pause);
    display: none;

}

.controller-btn button:nth-child(1):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(2):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(3):hover {
    background-color: transparent;
    transition: 0.1s;
}

.controller-btn button:nth-child(1):hover svg {
    fill: var(--bg-900);
}

.controller-btn button:nth-child(2):hover svg {
    fill: var(--gr-900);
}

.controller-btn button:nth-child(3):hover svg {
    fill: var(--pause);
}



.timer-countdown {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    color: var(--bg-900);
    background-color: var(--bg-900);
    overflow: hidden;
    z-index: 1;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1) {
    background-color: var(--pause);
    z-index: 2;
    display: none;
}

.semicircle:nth-child(2) {
    background-color: var(--pause);
    z-index: 3;
    display: none;
}

.semicircle:nth-child(3) {
    background-color: var(--bg-900);
    z-index: 4;
    display: none;
}

.outermost-circle {
    width: 390px;
    height: 390px;
    background-color: var(--bg-100);
    border-radius: 50%;
    z-index: 5;
    /* display: none; */
}

/* .timer-countdown:hover .semicircle:nth-child(1) {
    transform: rotate(180deg);
    transition: 1s linear;
}
.timer-countdown:hover .semicircle:nth-child(2) {
    transform: rotate(360deg);
    transition: 2s linear;
}
.timer-countdown:hover .semicircle:nth-child(3) {
    opacity: 0;
    transition: opacity 0s 1s;
} */

.time-stamp {
    position: absolute;
    width: 200px;
    height: 140px;
    z-index: 6;
    flex-direction: column;
}

.time-stamp.disable {
    opacity: 0.9;
    pointer-events: none;
}

.tik-tok {
    width: 250px;
    height: 100px;
    margin-top: 30px;
    z-index: 7;
    flex-direction: row;
}

.tik-tok select,
.timer-repeater select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border: 1px solid var(--pause);
    border-radius: 8px;
    color: var(--bg-900);
    background-color: var(--bg-100);
    font-size: 80px;
    cursor: pointer;
}

.tik-tok select option {
    font-size: 24px;
}

.tik-tok span {
    text-align: center;
    font-size: 4em;
    font-family: poppins;
}

.timer-repeater {
    margin-top: 20px;
}

.timer-repeater select {
    font-size: 2em;
    padding: 0 5px;
    border: 1px solid var(--red-300);
    border-radius: 8px;
}

.timer-repeater span {
    font-size: 2em;
}


/* stopwatch-section */
.stopwatch-block {
    flex-direction: column;
    position: absolute;
    visibility: hidden;
}

.stopwatch-countdown-box {
    position: relative;
    height: 400px;
    width: 400px;
}

.stopwatch-countdown {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: var(--bg-300);
    color: var(--bg-900);
    overflow: hidden;
    z-index: 1;
}

.inner-circle {
    width: 390px;
    height: 390px;
    background-color: var(--bg-100);
    border-radius: 50%;
    z-index: 5;
}

#stopwatch-tiktok {
    width: 300px;
}

#stopwatch-tiktok p {
    width: 300px;
    display: block;
    margin-left: 10px;
    font-size: 4em;
    font-family: 'Segoe UI';
}

#stopwatch-tiktok p span {
    color: var(--gr-900);
    font-size: 40px;
}

/* .task-section */
.task-section {
    position: relative;
    height: 100%;
    width: 30%;
    padding: 20px;
    border-left: 2px solid var(--bg-900);
    background-color: var(--white);
}

.to-do-app {
    width: 100%;
    margin-bottom: 10px;
}

.to-do-app p {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
}

.to-do-app img {
    margin-left: 10px;
    width: 30px;
}

.box-shadow-bottom {
    padding-bottom: 12px;
    box-shadow: 0px 8px 12px -8px rgb(0, 0, 0, 0.2);
}

.task-dialog {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid var(--bg-300);
}

.input-task-area input {
    border: none;
    outline: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.input-task-area input:nth-child(1) {
    padding: 6px 16px;
    font-size: 1.4em;
    width: 100%;
}

.input-task-area input:nth-child(2) {
    padding-left: 16px;

}

.task-dialog button {
    padding: 4px 24px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    color: #fff;
    border-radius: 40px;
    background-color: var(--gr-900);
    border: 2px solid var(--gr-300);
    cursor: pointer;

}

.task-dialog button:hover {
    background-color: transparent;
    color: var(--gr-900);
    transition: 0.2s;
}

.space-between {
    justify-content: space-between;
}

.margin-right-10 {
    margin: 0 10px 0 0;
}

.task-lister {
    overflow-y: auto;
    height: calc(100% - 150px);
    padding-top: 8px;
    scroll-behavior: auto;
}

.task-lister div h4 {
    color: var(--gr-900);
}

.task-lister div hr {
    border: 1px solid var(--gr-900);
    margin-top: 2px;
}

.task-lister div ul {
    margin: 10px 0;
}

.task-lister div ul li {
    list-style: none;
    font-size: 1em;
    padding: 16px 16px 16px 40px;
    user-select: none;
    margin: 10px 0 0 0;
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.task-lister div ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(./img/unchecked_circle.svg);
    left: 12px;
    top: calc(50% - 12px);
}

#other-task-list li:hover::before {
    display: none;
}

.task-lister div ul li:hover::before {
    background-image: url(./img/check_circle.svg);
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(91deg) brightness(56%) contrast(102%);

}

.task-lister div ul li.task-done {
    color: var(--crossed);
    font-weight: 300;
    text-decoration: line-through;
    border: 1px solid var(--gr-300);
    background-color: var(--gr-100);
}

.task-lister div ul li.task-done::before {
    background-image: url(./img/task_alt_black_24dp.svg);
    filter: invert(62%) sepia(65%) saturate(3453%) hue-rotate(91deg) brightness(56%) contrast(102%);

}

.task-lister div ul li p {
    position: absolute;
    right: 40px;
    bottom: 2px;
    font-size: .7em;
}

.task-lister div ul li div {
    position: absolute;
    right: 4px;
    padding: 2px 4px;
    margin: 0;
    border-radius: 20px;
    background-color: transparent;
    top: calc(50% - 18px);
    opacity: 0;
}

.task-lister div ul li div img {
    border-radius: 50%;
    padding: 4px;
    margin: 0 4px;
}

.task-lister div ul li div img:nth-child(1) {
    background-color: var(--pause);

}

.task-lister div ul li div img:nth-child(2) {
    background-color: var(--gr-900);

}

.task-lister div ul li:hover div {
    opacity: 100;
    transition: 0.5s;
}

#daily-task-list li:hover div img:nth-child(2) {
    display: none;
}
.diff-task-list {
    border: 2px solid var(--pause);
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 10px;
}


/* footer start */
.footer {
    padding: 14px;
    border-top: 1px solid var(--bg-900);
}

.footer p {
    filter: drop-shadow(0 12px 15px #a70101);
    color: var(--bg-900);
}


/* -----@media queries----- */
@media only screen and (max-width: 762px) {
    .main-page {
        flex-direction: column;
    }
    .clock-section{
        width: 100%;
        /* overflow: scroll; */
    }
    .task-section{
        width: 100%;
    }
    .timer-countdown-box {
        height: 300px;
        width:300px;
    }
    .timer-countdown {
        height: 300px;
        width:300px;
    }
    .outermost-circle {
        height: 290px;
        width:290px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 762px) {
    .task-section{
        width: 40%;
    }
}
@media only screen and (min-width: 762px) {
    .main-page {
        height: calc(100vh - 88px);
    }
}
 

